*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.canvas {
   position: absolute;
  margin: -200px 0 0 -200px;

 
}



.logo-image-home {
    width: 13rem;
    height: 13rem;
       position: relative;
    z-index: -10;
    top: 0.5rem;
    left: 0rem;
}
  
 

.logo-canvas {
    border-radius: 50%;
    top: 0rem !important;
    position: absolute !important;
    left: 0rem;
    font-size: larger!important;
}