.logo-image2 {
  z-index: 100;
  margin-left: 1rem;
  margin-top: 0.7em;
}

.logo-image {
  position: relative;
  z-index: -10;
  top: 0rem;
  left: 0rem;
}

.logoLarge {
  width: 12rem;
  height: 12rem;
}

.logoMedium {
  width: 8rem;
  height: 8rem;
}

.logoSmall {
  width: 5rem;
  height: 5rem;
}
