*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.canvas {
  background-color: #FFF;
  position: absolute;
  margin: -200px 0 0 -200px;
  box-shadow: 0 0 25px rgba(0,0,0,0.025);
  z-index: 5;
}



.logo-image {
    width: 15rem;
    height: 15rem;
    border-radius: 30rem;
    position: relative;
    background: radial-gradient(circle, transparent, white);
    z-index: -10;
    top: 0rem;
    left: 0rem;
}
  
 

.logo-canvas {
    border-radius: 50%;
    background: radial-gradient(circle, transparent, white);
    top: 0rem !important;
    position: absolute !important;
    left: 0rem;
}