.reply {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.reply .avatarSmall {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.reply .replyBody {
  flex: 1;
}

.reply .replyBody .user {
  font-weight: bold;
  margin-right: 0.5em;
  color: #fff;
}

.reply .replyBody .date {
  color: #aaa;
  font-size: 0.85em;
  margin-left: 0.5em;
}

.reply .replyBody .text {
  margin: 0.5em 0;
}

.reply .replyBody .replyInputRow {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0.5em 0;
}

.reply .replyBody .replyInputRow .inputReply {
  flex: 1;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  outline: none;
  background: white;
  transition: border 0.2s;
}

.reply .replyBody .replyInputRow .inputReply:focus {
  border: 1.5px solid #4caf50;
  background: #9fa5af;
}

.reply .replyBody .replyInputRow .actionIcon {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
}

.reply .replyBody .replyInputRow .checkIcon {
  color: #0de40d;
  transition: color 0.2s ease-in-out;
}

.reply .replyBody .replyInputRow .checkIcon:hover {
  color: #0e720e;
}

.reply .replyBody .replyInputRow .cancelIcon {
  color: #FFC0CB;
  transition: color 0.2s ease-in-out;
}

.reply .replyBody .replyInputRow .cancelIcon:hover {
  color: #FF0033;
}

.reply .replyBody .edit, .reply .replyBody .delete {
  background: none;
  border: none;
  outline: none;
}

.reply .replyBody .edit {
  color: #FFFF99;
  transition: color 0.2s ease-in-out;
}

.reply .replyBody .edit:hover {
  color: #FF9900;
}

.reply .replyBody .delete {
  color: #FFC0CB;
  transition: color 0.2s ease-in-out;
}

.reply .replyBody .delete:hover {
  color: #FF0033;
}
