.userInfo {
  display: flex;
  margin: auto;
  width: 70%;
  min-width: 5rem;
  min-height: 5rem;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  color: azure;
  margin-top: 5%;
  margin-bottom: 1%;
  text-align: center;
}

.userInfo .userName {
  font-size: 2rem;
  margin-left: 70%;
  color: azure;
  cursor: pointer;
  text-decoration-line: none;
}
