.cardPost {
 background-color: transparent;

  .cardFooter {
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-around;
    align-content: center;


    .social-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      margin-right: 1rem; 
    }
  }}

  .button {
    align-items: baseline;
    margin-right: 1rem;
    margin-left: 1rem;
  }
