.colorPickerMenuContainer {
  height: 40rem;
}

.centralPicker {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  z-index: 2;
  background: radial-gradient(circle, #a18d8dfc, #eff3f2);
  transition: background 0.3s ease;
  padding: 11px;
  width: 15rem;
  height: 15rem;
  border-radius: 30rem;
}

.menuItemsContainer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItem {
  position: absolute;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  text-align: center;
  background: radial-gradient(circle, transparent, white);
  border-radius: 50%;
  transition: transform 0.3s, opacity 0.3s;
  cursor: pointer;
  text-decoration: none;
  transform-style: preserve-3d;
}

.menuItem:hover {
  background: radial-gradient(circle, transparent, #790ed6);
  text-decoration: none;
}

.colorPickerMenuContainer.active {
  transform: translate(0) rotate(360deg);
  opacity: 1;
  transition-delay: 0.1s;
}

a {
  writing-mode: horizontal-tb;
}

/* Mobile devices */
@media only screen and (max-width: 920px) {
  .colorPickerMenuContainer {
    height: 80rem;
  }
  .centralPicker {
    top: 55%;
    left: 50%;
  }
  .menuItemsContainer {
    top: 55%;
  }
}

/* Mobile devices */
@media only screen and (max-width: 820px) {
  .colorPickerMenuContainer {
    height: 40rem;
  }
  .centralPicker {
    top: 55%;
    left: 50%;
  }
  .menuItemsContainer {
    top: 55%;
  }
}

/* Mobile devices */
@media only screen and (max-width: 768px) {
  .colorPickerMenuContainer {
    height: 50rem;
  }
  .centralPicker {
    width: 10rem;
    height: 10rem;
    padding: 8px;
  }
  .menuItem {
    width: 5rem !important;
    height: 5rem !important;
    line-height: 5rem;
    font-size: 0.8rem;
  }
}

/* Small mobile devices */
@media only screen and (max-width: 480px) {
  .centralPicker {
    width: 10rem;
    height: 10rem;
    padding: 6px;
  }
  .menuItem {
    width: 3rem;
    height: 3rem;
  }
  .centralPicker {
    top: 55%;
    left: 50%;
  }
  .menuItemsContainer {
    top: 55%;
  }
}
