.cardFooter {
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: transparent!important;


}
.button {
  align-items: baseline;
  margin-right: 1rem;
  margin-left: 1rem;
}
.button:hover {
  background-color: transparent;
  color: azure;
  border: 1px solid azure;
}
.button:active {
  background-color: transparent;
  color: azure;
  border: 1px solid azure;
}
.button:focus {
  background-color: transparent;
  color: azure;
  border: 1px solid azure;
}
.button:focus-visible {
  background-color: transparent;
  color: azure;
  border: 1px solid azure;
}
.button:focus-within {
  background-color: transparent;
  color: azure;
  border: 1px solid azure;
}
.button:focus-within-visible {
  background-color: transparent;
  color: azure;
  border: 1px solid azure;
}
.button:focus-visible {
  background-color: transparent;
  color: azure;
  border: 1px solid azure;
}