@charset "UTF-8";
.footer {
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  display: flex;
  /* Activar Flexbox */
  justify-content: space-between;
  /* Separar íconos y texto */
  align-items: center;
  /* Centrar verticalmente */
  padding: 1rem 2rem;
  /* Espaciado interno */
  /* Estilos responsivos para pantallas pequeñas */
}

.footer .footerContainer {
  display: flex;
  /* Asegurar que los íconos estén en línea */
  justify-content: flex-start;
  /* Alinear íconos al inicio */
  align-items: center;
  /* Centrar verticalmente */
  flex: 1;
  /* Permitir que el contenedor ocupe el espacio restante */
  margin-left: 2rem;
  /* Espaciado a la izquierda */
}

.footer .footerIcon {
  font-size: 2rem;
  color: white;
  transition: all 0.3s ease-in-out;
  margin: 0 1rem;
  /* Espaciado entre íconos */
  text-decoration: none;
  /* Eliminar subrayado */
  cursor: pointer;
  /* Cambiar cursor al pasar el mouse */
}

.footer .footerIcon:hover {
  color: #ff6347;
  /* Cambiar color al pasar el mouse */
  transform: scale(1.2);
  /* Aumentar tamaño al pasar el mouse */
}

.footer .text {
  font-size: 1rem;
  color: white;
  font-family: 'Arial', sans-serif;
  /* Cambiar fuente del texto */
  text-align: right;
  /* Alinear texto a la derecha */
  margin-left: 55rem;
  /* Empujar el texto hacia la derecha */
  margin-top: -2rem;
  padding: 0 2rem;
  /* Espaciado interno del texto */
  flex: 1;
  /* Permitir que el texto ocupe el espacio restante */
}

@media only screen and (max-width: 768px) {
  .footer .footerContainer {
    flex-direction: column;
    /* Cambiar a columna */
    justify-content: center;
    /* Centrar contenido */
    align-items: center;
    /* Centrar contenido */
  }
  .footer .footerIconsContainer {
    justify-content: center;
    /* Centrar íconos horizontalmente */
    margin-bottom: 1rem;
    /* Espaciado entre íconos y texto */
  }
  .footer .text {
    text-align: center;
    /* Centrar texto */
    font-size: 0.9rem;
    /* Reducir tamaño del texto */
    margin-left: 0;
    /* Eliminar margen izquierdo */
  }
}
