.card {
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: transparent;
  color: azure;
  width: 100%;
}

.card h5, .card h6, .card div, .card p {
  width: 100%;
  text-align: center;
  max-width: 5rem;
  margin: 2rem;
}

.card .message {
  min-width: 25%;
  max-width: 50%;
  text-align: center;
  font-size: 1.5rem;
  color: azure;
  margin: 0;
  padding: 3rem;
  margin-right: 20rem;
}

.card .toggleButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: azure;
}
