.card {
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: transparent;
  color: azure;
  width: 100%;
   h5,  h6,  div,  p {
    width: 100%;
    text-align: center;
  max-width: 5rem;
   margin: 2rem;
  }
  .message {
    min-width: 25%;
    max-width: 50%;
    text-align: center;
    font-size: 1.5rem;
    color: azure;
    margin: 0;
    padding: 3rem;
    margin-right:20rem;
       
  }
 
  .toggleButton {
 
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: azure;
  
  }
  }
