.dropdownContainer {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

.dropdownContainer .dropdownButton {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border: none;
  border-bottom: 4px solid transparent;
}

.dropdownContainer .dropdownButton:hover {
  color: #f5b921;
  border-bottom-color: transparent;
}

.dropdownContainer .dropdownButton .icon {
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.dropdownContainer .dropdownButton.open .icon {
  transform: rotate(180deg);
}

.dropdownContainer .dropdownContent {
  text-decoration: none;
  display: none;
  position: absolute;
  background: #0c0c0c;
  min-width: 15rem;
  left: 0;
  top: 100%;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 0.5rem 0;
  list-style: none;
}

.dropdownContainer .dropdownContent.show {
  display: block;
}

@media (max-width: 1150px) {
  .dropdownContainer {
    font-size: 1rem;
  }
  .dropdownContainer .dropdownButton {
    padding: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
  }
  .dropdownContainer .dropdownButton .dropdownContent {
    font-size: 1rem;
  }
  .dropdownContainer .dropdownButton .dropdownContent.show {
    max-height: 500px;
    padding: 0.5rem 0;
  }
}

@media (max-width: 940px) {
  .dropdownContainer {
    font-size: 0.8rem;
  }
  .dropdownContainer .dropdownButton {
    padding: 0.5rem;
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .dropdownContainer .dropdownButton .dropdownContent {
    font-size: 1rem;
  }
  .dropdownContainer .dropdownButton .dropdownContent.show {
    max-height: 500px;
    padding: 0.5rem 0;
  }
}
