// image.module.scss
.formBackground {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 99;
    overflow-y: auto;
}

.form {
    width: 27rem;
    margin: 5% 0;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.closeButton {
    margin: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.formTitle {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.titles {
    text-align: center;
    font-size: 1.1rem;
}

.mainImageInputLabel {
    display: block;
    margin: auto;
}

.mainImageInput {
    display: none;
}

.mainImageBackground {
    background-color: rgb(213, 213, 213);
    border-radius: 0.5rem;
    width: 10rem;
    margin: auto;
}

.mainImage {
    width: 100%;
    padding: 50%;
    background-size: contain;
    background-position: center;
}

.mainImageRemoveButton {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    background-color: #5d5d5d;
    color: white;
}

.sendButton {
    display: block;
    margin: 0 auto 1rem auto;
    background-color: #5d5d5d;
    color: white;
}
