body{
    background-image: url(../src/assets/img/sinapsisneuronal.jpg);
    //background-image: url(../src/assets/img/coloresneuronas.jpg);
    //background-image: url(../src/assets/img/cellsynapsis.jpg);
   //background-image: url(../src/assets/img/sinapsisneuronalmulticolor.jpg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}