.cardText{
 
    flex-wrap: wrap;
    justify-content:center;
    background-color: rgba(0, 0, 0, 0.9)!important;
    width: 98% !important;
    margin: 1rem ;
  
    text-align: justify ;
    color: white;
    img{
 
        max-width: 20rem;
        float: left;
        margin: 2rem;
      
    }

}
    .skeleton{
   margin-left: 10rem;
   padding: 2rem;
   justify-self: center;
width: 80%;
     background-color: rgba(0, 0, 0, 0.9)!important;
     margin-bottom: 10rem;
}