.cardContainer {

  width: 95%;
margin: auto;
padding: 2rem;

  .cardText {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    margin: auto;
    color: white;
    

    
   

    .cardImage {
      max-width: 15rem;
      margin: 1rem; 
      border-radius: 0.5rem;
      padding: 1rem;



    }

    .cardDescription {
      text-align: justify;
      margin-left: 1rem;
      padding: 1rem;
    }
  }
}
