.cardText{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-bottom: 12rem;
    width: 98% !important;
    margin: 0.8rem !important;
    text-align: justify ;
    img{
        width: 100%;
        max-width: 15rem;
        float: left;
        margin: 2rem;
      
    }
}
